<style>
    textarea {
        resize: none;
        overflow: hidden;
        min-height: 80px;
        max-height: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>
<div>
    <label class="section-title">{{process.name}}</label>
    <div class="row">
        <div class="col-lg-3" ng-click="toggleFollow()" tooltip-placement="left" tooltip="Follow this wiki.">
            <i ng-class="isFollowed ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></i>
        </div>
        <div class="col-lg-6 col-lg-offset-10" ng-click="createWiki()">
            <i class="glyphicon glyphicon-plus"></i>
            <label>Add chapter</label>
        </div>
    </div>
    <accordion ng-if="wiki.parts !== []">
        <div accordion-group class="panel-default" heading="{{wikiPart.title}}" ng-repeat="wikiPart in wiki.parts | orderBy:'creationTime' ">
                <span style="float:right;">
                <i ng-click="openWikiPart(wikiPart)" class="glyphicon glyphicon-pencil"></i>
            </span>
            {{wikiPart.body}}
            <span class="col-lg-12" ng-style="float:right;" ng-if="wikiPart.editable">
            Created: {{wikiPart.creationTime}} by  <a ng-href="{{adminUrl}}{{wikiPart.creatorId}}?tab=profile">{{wikiPart.creatorId}}</a>
        </span>
        </div>
    </accordion>

</div>